
* {
      padding: 0;
      margin: 0;
  }

  
  #screen-multiple{
      /* height: 2500px; */
      width:100%;
      /* margin:auto ; */
      /* border: 5px solid orange; */
      
  }
  #nvbar{
      height:80px;
      width:93%;
      /* border:2px solid green; */
      display: flex;
  }
  #nvbar>div{
      margin-top: 12px;
      margin-left:45px;
      display: flex;
      /* border: 4px solid maroon; */
      justify-content: space-around;
      
  }
  #nvbar>div:nth-child(1){
      width: 40px;
      height: 70px;
      /* border: 1px solid yellow; */
  }
  #nvbar>div:nth-child(1)>img{
      width: 40px;
      height: 60px;
  }
  #nvbar>div:nth-child(2){
      height: 45px;
      width: 22%;
      font-size: 14px;
      color: gray;
  }
  #nvbar>div:nth-child(3){
      height: 45px;
      width: 50%;
      margin-left: auto;
      display: flex;
       /* border: 2px solid blue; */
  
  }
  #nvbar>div:nth-child(3)>div{
      height: 20px;
      width: 120px;
      /* border: 1px solid red; */
      
  }

  #filter-multiple{
      height: 80px;
      width: 93%;
      background-color: rgb(251,251,251);
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: space-between;
      margin: auto;
  }

  #filter-multiple>div:nth-child(2){
      width:71%;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      /* border:5px solid red; */
      
  }
  #filter-multiple>div:nth-child(1){
      width:15%;
      height: 70px;
      display: flex;
      align-items: center;
  }

  #filter-multiple>div:nth-child(1)>h1{
      width:100%;
      /* border: 1px solid red; */
      font-size: 25px;
      margin-top: 50px;
      

  }

  #filter-multiple>div:nth-child(2)>p{
      font-size: 17px;
      color: gray;
      margin-top:44px;
      /* width: 20%; */
  
  }
  #pic-multiple{
      height:1500px;
      width:80%;
      /* border:2px solid red; */
      display: flex;
      justify-content: space-around;
      margin:auto ;
      flex-wrap: wrap;
      
  }
  #pic-multiple>div{
      width:20%;
      height: 350px;
      /* border:3px solid green; */
       margin-bottom:20px ;
       padding: 10px;
       
  }
  #pic-multiple>div:hover {
      border:1px solid gray;
      display: block;
  }
  #pic-multipleic>div:hover #none{
      display: block ;
      height:0px;
      /* border:1px solid red; */
      display: flex;
      justify-content: center;
      color: blue;
      font-weight: bold;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid rgb(187, 184, 184);
      
  }

 #none{
      display: none;
  }




  #pic-multiple>div>div:nth-child(1){
      width:100%;
      height: 200px;
      /* border:2px solid red; */
  }
  #pic-multiple>div>div:nth-child(1)>img{
      width: 100%;
      height: 100%;
      
  }
  #pic-multiple>div>div:nth-child(2)>h4{
      font-size: medium;
      margin-top:11px;
  

  }
  #pic-multiple>div>div:nth-child(2)>p{
      font-size: 12px;
      margin-top: 5px;


  }
  #pic-multiple>div>div:nth-child(2)>p:nth-child(3){
      color:grey;
      margin-bottom: 5px;
  }


  #pic-multiple>div>div:nth-child(2)>h6{
      color: brown;
      border-top:1px solid gray;
      font-size: 15px;
      padding-top: 5px;

      
      
  }
  #footer-multiple{
      height: 850px;
      width: 100%;
      /* border: 5px solid red; */
      background-color: black;
      color: white;
      margin-top: 43px;
      
     }
     #footer-multiple>div{
      width:90% ;
      margin:auto;
      /* border-bottom: 2px solid gray; */
     }
     #footer-multiple >div:nth-child(1){
      width: 90%;
      height:450px ;
      border-bottom: 1px solid gray;
      display: flex;
      margin-bottom: 25px;
      
     }
     #footer-multiple >div:nth-child(1)>div{
      width: 35%;
      height: 450px;
      /* border: 4px solid gold; */
      
     }
     #footer-multiple >div:nth-child(1)>div>h4{
      margin-top: 55px;
      margin-left: 15px;
      margin-bottom: 35px;
      font-size: 20px;
      color: gray;

     }
     #footer-multiple >div:nth-child(1)>div>p{
      margin-top: 20px;
      font-size: 20px;
     }
     #footer-multiple >div:nth-child(1)>div:nth-child(4)>img{
      margin-top: 45px;
      height: 75px;

     }



     #footer-multiple >div:nth-child(3){
      width: 90%;
      /* height:450px ; */
      margin-top: 20px;
      display: flex;
      /* border-bottom: 1px solid gray; */
      /* border: 5px solid red; */
     }
     

     
    #footer-multiple >div:nth-child(3)>div{
      width: 35%;
      /* height: 380px; */
     /* border: 3px solid yellow; */
    }
    #footer-multiple >div:nth-child(3)>div>p{
      margin-top: 25px;
      font-size: 20px;

     }

     
    #footer-multiple >div:nth-child(2)>h4{
      margin-top: 5px;
      margin-left: 15px;
      margin-bottom: 25px;
      font-size: 20px;
      color: gray;
     }


     #productsT{
      width:100%;
      height:300px;
      /* border:1px solid red; */
      display: flex;
      justify-content: space-between;
     }
     #singlePro{
      width:24%;
      height:300px;
      /* border:1px solid grey; */
      text-align: center;
     }
     #singlePro>img{
      width: 100%;
      height: 80%;

     }
     @media screen and (max-width:1000px){
      #pic{
          width:98%;
      }

     } 
      
     
     
  


